cmake_*
CMakeCache.txt
main
CMakeFiles
Makefile
libsrc.a
.vscode
build/*
tests/*
!tests/build.*
!tests/.rfscss
rfscss
/*.css
install_manifest.txt

# Debugs
specific_testing
*.d

# Not implemented yet
dev/linotify
.gitmodules