.identifier {
    &-class1 {
        color: red;
    }

    &-class2 {
        color: blue;

        &-class3 {
            color: green;
        }
    }

    &-class3 {
        color: green;
    }

    // No issues in parsing comments } .trick-identifier-1 {

    /* Even in multiline
    } .trick-identifier-2 { */

    &-class4 {
        color: yellow;

        &-class5 {
            color: purple;
        }
    }
}

.another-identifier {
    color: red;

    &-class1 {
        color: blue;

        .trick-i-am-a-class {
            color: green;
        }

        .tricked-im-another-class {
            color: yellow;
        }
    }
}
