@import url("url");
@import "url";

$base-color: #036;
@for $i from 1 through 3 {
  ul:nth-child(3n + #{$i}) {
    background-color: lighten($base-color, $i * 5%);
  }
}

.literal {
  color: black;
}

.capture-name .but-not-this {
  color: red;
}

.selector /* with intrusive comment */ {
  color: blue;
}

$interpolated: "interpolated";
.selector-#{$interpolated} {
  color: green;
}

.unlisted-selector {
  color: orange;
}

// This selector should not be captured
// .this-too {
/*
    color: red;
*/
// }

.tidy-this .not > valid > #{"./"}filename {
  color: red;
}
